<!DOCTYPE html>
<html>
  <head>
    <title>Authenticate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p> Bienvenue à l'app Authenticate </p><br/>
    <%= link_to "Sig up", new_user_path %><br/>
    <%= link_to "Log out", sign_out_path %>
    <%= yield %>
  </body>
</html>
